body {
    font-family: sans-serif;
    padding-left: 1em;
    background-color: deepskyblue;
    position: absolute;
}
label {
    font-weight: bold;
    color: green;
    font-size: 1.2em;
    font-style: italic;
}
button {
    font-width: bold;
    color: red;
    font-size: 1.2em;
    font-style: italic;
}
function {
    font-width: bold;
    color: blueviolet;
}