body {
    font-family: sans-serif;
    padding-left: 1em;
    background-color: lightcyan;
    position: absolute;
}
label {
    font-weight: bold;
    color: green;
    font-size: 1.2em;
    font-style: italic;
}
button {
    font-width: bold;
    color: red;
    font-size: 1.2em;
    font-style: italic;
}
function {
    font-width: bold;
    color: blueviolet;
}
a {
    color: #0288D1;
    font-weight: bolder;
    text-decoration: black;
}

a:hover {
    text-decoration: underline;
}
p {
    color: aqua;
    font-size: medium;
    text-decoration: darkred;
}
